# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
dist/
.vite/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Local
*.log
*.sqlite3

# build artifacts
*.tsbuildinfo
frontend/package-lock.json
